
<div class="hero-unit span6">
	<div id="count"><h1><%= render 'quick_count' %></h1></div>

	<%= form_tag athletes_path, :method => 'get', :id=>"athletes_search" do %>
	<p>
		<input id="search" class="searchBox" name="search" placeholder="search" data-provide="typeahead" type="text">
		
		<%# submit_tag "Search", :name => nil %>
	</p> <i class="icon-search"></i>
</div>

	<div id="athletes_list"><%= render 'list' %></div>
<% end %>


<div id="chart_div" class="span3"></div>
<div id="counts_chart" class="span3"></div>


<div id="highchart" class="span8"></div>

<%#render "density_map"%>
<%#render "counts_chart"%>
<%#render "counts_highchart"%>