
<div class="hero-unit">
	<div id="count"><h1><%= render 'quick_count' %></h1></div>


	<%= form_tag athletes_path, :method => 'get', :id=>"athletes_search" do %>

	<p>
		<input id="search" class="searchBox" name="search" data-provide="typeahead" type="text">
		
		<%# submit_tag "Search", :name => nil %>
	</p> <i class="icon-search"></i>
</div>

	<div id="athletes_list"><%= render 'list' %></div>
<% end %>

